<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Mom's Recipe</title>

    <!-- inject:css -->
    <link rel="stylesheet" href="/wwwroot/styles/app.css">
    <link rel="stylesheet" href="/wwwroot/styles/styles.css">
    <!-- endinject -->

</head>
<body>
    <div ui-view></div>

    <!-- inject:js -->
    <script src="/wwwroot/scripts/app.modules.js"></script>
    <script src="/wwwroot/scripts/packages.js"></script>
    <!-- endinject -->

</body>
</html>